{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <main class="flex-shrink-0">
        <section class="py-5 d-flex justify-content-center align-items-start min-vh-100">
            <div class="container px-5">
                <h1 class="fw-bolder mb-4 text-center text-light">Mot de passe oublié</h1>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-light rounded-3 shadow-sm p-4">
                            {% for flash_error in app.flashes('verify_email_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}

                            {{ form_start(resetForm) }}

                            <div class="form-group mb-3 text-center">
                                {{ form_label(resetForm.username, 'Nom ', {'label_attr': {'class': 'mt-4'}}) }}
                                <div class="d-flex flex-column">
                                    {{ form_widget(resetForm.username, {
                                        'attr': {
                                            'class': 'form-control border-0 bg-transparent',
                                            'style': 'box-shadow: none; border-bottom: 2px solid black;'
                                        }
                                    }) }}
                                    <div class="border-bottom border-dark" style="height: 2px;"></div>
                                </div>
                            </div>
                            <div class="d-grid mt-4">
                                <button class="btn btn-primary w-100" type="submit">Envoyer le lien de réinitialisation</button>
                            </div>
                            {{ form_end(resetForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
