{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <main class="flex-shrink-0">
        <section class="py-5 d-flex justify-content-center align-items-start min-vh-100">
            <div class="container px-5">
                <h1 class="fw-bolder mb-4 text-center text-light">Réinitialiser le mot de passe</h1>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-light rounded-3 shadow-sm p-4">
                            {% if app.user %}
                                <div class="alert alert-info">
                                    Vous êtes connecté en tant que {{ app.user.userIdentifier|upper }},
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}
                            {{ form_start(resetForm, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="form-group mb-3 text-center">
                                <label for="username" class="form-label mt-4">Nom d'utilisateur</label>
                                <div class="d-flex flex-column">
                                    {{ form_widget(resetForm.username, {'attr': {'readonly': 'readonly', 'class': 'form-control border-0 bg-transparent', 'style': 'box-shadow: none; border-bottom: 2px solid black;'}}) }}
                                    <div class="border-bottom border-dark" style="height: 2px;"></div>
                                </div>
                                {{ form_errors(resetForm.username) }}
                            </div>
                            <div class="form-group mb-3 text-center">
                                <label for="plainPassword_first" class="form-label mt-4">Nouveau mot de passe</label>
                                <div class="d-flex flex-column">
                                    {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control border-0 bg-transparent', 'style': 'box-shadow: none; border-bottom: 2px solid black;'}}) }}
                                    <div class="border-bottom border-dark" style="height: 2px;"></div>
                                </div>
                                {{ form_errors(resetForm.plainPassword.first) }}
                            </div>
                            <div class="form-group mb-3 text-center">
                                <label for="plainPassword_second" class="form-label mt-4">Confirmer le mot de passe</label>
                                <div class="d-flex flex-column">
                                    {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control border-0 bg-transparent', 'style': 'box-shadow: none; border-bottom: 2px solid black;'}}) }}
                                    <div class="border-bottom border-dark" style="height: 2px;"></div>
                                </div>
                                {{ form_errors(resetForm.plainPassword.second) }}
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary w-100">Réinitialiser le mot de passe</button>
                            </div>
                            {{ form_end(resetForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
