{% extends 'base.html.twig' %}

{% block title %}SNOWTRICKS{% endblock %}

{% block body %}
	<header class="bg-dark position-relative overflow-hidden header-no-gap">
		<div id="top" class="position-absolute top-0 start-0 w-100 h-100">
			<img src="{{ asset('images/SnowTrick_0.png') }}" alt="Snow Tricks" class="w-100 h-100 img-no-gap"
				 style="object-fit: cover; object-position: center;">
		</div>
		<div class="position-relative text-center z-index-2" style="padding-top: 20%; padding-bottom: 20%;">
			<div class="bg-dark bg-opacity-50 p-3 rounded">
				<h1 class="display-4 fw-bolder text-light">Bienvenue sur SnowTricks</h1>
				<p class="lead fw-normal text-light">Partagez vos meilleurs tricks</p>
			</div>
		</div>
		<a href="#tricks" class="scroll-down text-light">
			<i class="bi bi-chevron-down"></i>
		</a>
	</header>
	<div class="d-flex justify-content-center my-4">
		<a href="{{ path('app_trick_newTrick') }}" class="btn btn-primary">Créer un nouveau Trick</a>
	</div>
	<div id="tricks" class="container px-5 my-5">
		<div class="row g-4">
			<div id="tricks-list" class="row g-4">
				{% include '/trick/partials/_tricks_list.html.twig' %}
			</div>
			<div class="text-center mt-4 d-flex justify-content-center gap-2">
				{% if page > 1 %}
					<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': page - 1})) }}#tricks-list"
					   class="btn btn-primary">
						← Précédent
					</a>
				{% endif %}

				{% if hasMore %}
					<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': page + 1})) }}#tricks-list"
					   class="btn btn-primary">
						{% if page == 1 %}
							Voir plus
						{% else %}
							Suivant →
						{% endif %}
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	<a href="#tricks" class="scroll-up" id="scroll-up" style="display: none;">
		<i class="bi bi-chevron-up"></i>
	</a>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/scroll-up.js') }}"></script>
{% endblock %}
