<div class="mb-4">
	<ul class="list-unstyled">
		{% for comment in comments %}
			<li class="d-flex align-items-center mb-3 p-2">
				<div class="me-3 d-flex align-items-center">
					{% if comment.user.profileImage %}
						<img src="{{ asset('uploads/profileImages/' ~ comment.user.profileImage) }}"
							 alt="Image de profil de {{ comment.user.username }}" class="rounded-circle"
							 style="width: 50px; height: 50px;">
					{% else %}
						<img src="{{ asset('uploads/profileImages/avatar.png') }}"
							 alt="Image de profil par défaut" class="rounded-circle"
							 style="width: 50px; height: 50px;">
					{% endif %}
				</div>
				<div class="flex-grow-1 border border-dark pb-3 p-2 rounded">
					<strong>{{ comment.user.username|capitalize }}</strong> le {{ comment.createdAt|date('d/m/Y') }}
					- {{ comment.content|capitalize }}
				</div>
			</li>
		{% endfor %}
	</ul>
	{% if comments|length == 0 %}
		<div class="d-flex justify-content-center p-2 text-muted small"><em>Aucun commentaire pour le moment.</em></div>
	{% endif %}
</div>
