{% extends 'base.html.twig' %}

{% block title %}Afficher le Trick{% endblock %}

{% block body %}
	<div class="container my-5 bg-white">
		{% include 'Trick/partials/_media.html.twig' %}
		<div class="mb-4 text-center">
			<div class="mx-auto px-3" style="max-width: 85%;">
				<p class="text-start m-0 text-wrap"
				   style="word-break: break-word;">{{ trick.description|capitalize }}</p>
			</div>
		</div>
		<div class="row justify-content-center mb-4">
			<div class="col-md-8">
				<div class="row mb-4 justify-content-start border-bottom border-dark pb-3">
					<div class="col-md-3 mb-3 d-flex">
						<div class="info-box p-2 border rounded bg-white w-100 text-center border-dark border-1">
							<div class="d-flex align-items-center justify-content-center">
								<i class="fas fa-calendar-alt me-1"></i>
								<span class="small">Création: {{ trick.createdAt|date('d/m/Y') }}</span>
							</div>
						</div>
					</div>
					{% if trick.updatedAt is defined %}
						<div class="col-md-3 mb-3 d-flex">
							<div class="info-box p-2 border rounded bg-white w-100 text-center border-dark border-1">
								<div class="d-flex align-items-center justify-content-center">
									<i class="fas fa-calendar-edit me-1"></i>
									<span class="small">Modif: {{ trick.updatedAt|date('d/m/Y') }}</span>
								</div>
							</div>
						</div>
					{% endif %}
					<div class="col-md-3 mb-3 d-flex">
						<div class="info-box p-2 border rounded bg-white w-100 text-center border-dark border-1">
							<div class="d-flex align-items-center justify-content-center">
								<i class="fas fa-tag me-1"></i>
								<span class="small">Groupe : {{ trick.category.name|capitalize }}</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-3 d-flex">
						<div class="info-box p-2 border rounded bg-white w-100 text-center border-dark border-1">
							<div class="d-flex align-items-center justify-content-center">
								<i class="fas fa-user me-1"></i>
								<span class="small">By {{ trick.user.username|capitalize }}</span>
							</div>
						</div>
					</div>
				</div>
				{% if app.user %}
					<div class="mb-4 border-bottom border-dark pb-3">
						{{ form_start(commentForm, {'attr': {'class': 'comment-form'}}) }}
						<div class="d-flex align-items-center">
							{{ form_widget(commentForm.content, {
								'attr': {
									'class': 'form-control me-2', 'placeholder': 'Votre commentaire...'
								}
							}) }}
							<button type="submit" class="btn btn-primary">Leave a comment</button>
						</div>
						{{ form_end(commentForm) }}
					</div>
				{% endif %}
			</div>
			<div id="tricks-comments">
				{% include 'Trick/partials/_comments_list.html.twig' %}
			</div>
			{#	{% if hasMore %}#}
			<div class="text-center mt-4">
				<button id="load-more-comments" class="btn btn-primary"  data-trick-slug="{{ trick.slug }}">Charger plus de commentaires</button>
			</div>
			{#	{% endif %}#}
				<div class="d-flex justify-content-end mb-3">
					<a href="{{ path('app_tricks_list') }}" class="btn btn-secondary" data-trick-slug="{{ trick.slug }}">>Retour</a>
				</div>
			</div>
		</div>
{% endblock %}
