{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <main class="flex-shrink-0">
        <section class="py-5 d-flex justify-content-center align-items-start min-vh-100">
            <div class="container px-5">
                <!-- Titre -->
                <h1 class="fw-bolder mb-4 text-light text-center">Mon Profil</h1>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="bg-light rounded-3 shadow p-4">
                            <div class="text-center mb-4">
                                {% if app.user.profileImage %}
                                    <img src="{{ asset('uploads/profileImages/' ~ app.user.profileImage) }}" alt="Photo de profil" class="img-fluid rounded-circle shadow-sm mb-3" style="width: 150px; height: 150px;">
                                {% else %}
                                    <img src="{{ asset('uploads/profileImages/avatar.png') }}" alt="Photo de profil" class="img-fluid rounded-circle shadow-sm mb-3" style="width: 150px; height: 150px;">
                                {% endif %}
                            </div>
                            {{ form_start(form, {'attr': {'class': 'text-center'}}) }}
                            {{ form_row(form._token) }}
                            <div class="mb-4">
                                {{ form_label(form.username, 'Nom', {'label_attr': {'class': 'form-label fw-bold'}}) }}
                                {{ form_widget(form.username, {
                                    'attr': {
                                        'class': 'form-control border-0 border-bottom border-dark',
                                        'placeholder': 'Entrez votre nom'
                                    }
                                }) }}
                            </div>
                            <div class="mb-4">
                                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label fw-bold'}}) }}
                                {{ form_widget(form.email, {
                                    'attr': {
                                        'class': 'form-control border-0 border-bottom border-dark',
                                        'placeholder': 'Entrez votre email'
                                    }
                                }) }}
                            </div>
                            <div class="mb-4">
                                {{ form_label(form.profileImage, 'Image de profil', {'label_attr': {'class': 'form-label fw-bold'}}) }}
                                {{ form_widget(form.profileImage, {
                                    'attr': {
                                        'class': 'form-control border-0 border-bottom border-dark'
                                    }
                                }) }}
                            </div>
                            <div class="mb-5">
                                {{ form_label(form.currentPassword, 'Mot de passe actuel', {'label_attr': {'class': 'form-label fw-bold'}}) }}
                                {{ form_widget(form.currentPassword, {
                                    'attr': {
                                        'class': 'form-control border-0 border-bottom border-dark',
                                        'placeholder': 'Entrez votre mot de passe actuel'
                                    }
                                }) }}
                            </div>
                            <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-primary">Mettre à jour le profil</button>
                            </div>
                            {{ form_end(form) }}
                            <div class="d-grid gap-2 mt-4">
                                <a href="{{ path('app_change_password') }}" class="btn btn-primary">Changer le mot de passe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
